<%- model_class = UserTransaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => UserTransaction %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:transaction_dollar_amount) %></th>
      <th><%= model_class.human_attribute_name(:issued_nav_shares) %></th>
      <th><%= model_class.human_attribute_name(:user_action) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_transactions.each do |user_transaction| %>
      <tr>
        <td><%= user_transaction.id %></td>
        <td><%= user_transaction.transaction_dollar_amount %></td>
        <td><%= user_transaction.issued_nav_shares %></td>
        <td><%= user_transaction.user_action %></td>
        <td><%=l user_transaction.created_at, format: :long %></td>
        <td>
          <%= link_to user_transaction_path(user_transaction), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to user_transaction_path(user_transaction), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_transaction_path,
            :class => 'btn btn-primary' %>
