<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shares %><br>
    <%= f.text_field :shares %>
  </div>
  <div class="field">
    <%= f.label :stock_id %><br>
    <%= f.text_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :fund_id %><br>
    <%= f.text_field :fund_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
