<%= form_for(@fund_categorization) do |f| %>
  <% if @fund_categorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund_categorization.errors.count, "error") %> prohibited this fund_categorization from being saved:</h2>

      <ul>
      <% @fund_categorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fundstore_category_id %><br>
    <%= f.text_field :fundstore_category_id %>
  </div>
  <div class="field">
    <%= f.label :fund_id %><br>
    <%= f.text_field :fund_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
