<%= form_for(@user_holding) do |f| %>
  <% if @user_holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_holding.errors.count, "error") %> prohibited this user_holding from being saved:</h2>

      <ul>
      <% @user_holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nav_shares_owned %><br>
    <%= f.text_field :nav_shares_owned %>
  </div>
  <div class="field">
    <%= f.label :amount_invested %><br>
    <%= f.text_field :amount_invested %>
  </div>
  <div class="field">
    <%= f.label :user_account_id %><br>
    <%= f.text_field :user_account_id %>
  </div>
  <div class="field">
    <%= f.label :fund_id %><br>
    <%= f.text_field :fund_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
