<%= form_for @fund_manager, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :first_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.email_field :manager_email, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :about, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :about, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_facebook, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manager_facebook, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_instagram, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manager_instagram, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manager_location, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_school, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manager_school, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_twitter, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manager_twitter, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manager_years_experience, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manager_years_experience, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  fund_managers_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
