<%- model_class = Fund -%>
<div class="page-header">
  <h1><%=t '.title', :default => Fund %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:fund_name) %></dt>
      <dd><pre class="prettyprint"><%= @fund.fund_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:fund_description) %></dt>
      <dd><pre class="prettyprint"><%= @fund.fund_description %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:fund_strategy) %></dt>
      <dd><pre class="prettyprint"><%= @fund.fund_strategy %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:strategy_why_i_buy) %></dt>
      <dd><pre class="prettyprint"><%= @fund.strategy_why_i_buy %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:strategy_why_i_sell) %></dt>
      <dd><pre class="prettyprint"><%= @fund.strategy_why_i_sell %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:strategy_allocation_discipline) %></dt>
      <dd><pre class="prettyprint"><%= @fund.strategy_allocation_discipline %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:strategy_other_notes) %></dt>
      <dd><pre class="prettyprint"><%= @fund.strategy_other_notes %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:nav_shares) %></dt>
      <dd><pre class="prettyprint"><%= @fund.nav_shares %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              funds_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_fund_path(@fund), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              fund_path(@fund),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

